BasedOnStyle: WebKit
PointerAlignment: Right
SortIncludes: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

Language: Cpp
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
AccessModifierOffset: -4
NamespaceIndentation: All
