body {
    margin: 0;
}

.left-panel {
    display:block;
    position: absolute;
    right: 10px;
    z-index: 10000;

    font-weight: 500;
    font-style: normal;
    font-size: 2em;

    width: 300px;
}

#control-panel {
    background-color: white;

    border-radius: 10px;
    box-shadow: 10px 10px 35px #636061;
    top: 10px;
    height: auto;
    padding: 10px;

    text-align: center;
    color: #2D2D2A;
}

#team-panel {
    height: auto;
    padding: 10px;

    text-align: center;
    color: #2D2D2A;
}

#button-container {
    top: 460px;
}

#first-person {
    display: none;
}

#follow {
    display: none;
}

#mute {
    font-size: 20px;
}

#connection {
    display: block;
}

#disconnect {
    display: none;
}

#settings-content {
    display: none;
}

p, li {
    text-align: left;
    font-size: .6em;
}

i {
    text-align: right;
}