body {
    margin: 0;
}

.left-panel {
    display:block;
    position: absolute;
    right: 10px;
    z-index: 10000;

    font-weight: 500;
    font-style: normal;
    font-size: 2em;

    width: 300px;
}

#control-panel {
    background-color: rgba(132, 143, 165, 0.36);

    top: 10px;
    height: 400px;
    padding: 10px;

    text-align: center;
    color: #2D2D2A;
}

#team-panel {
    background-color: rgba(132, 143, 165, 0.36);

    bottom: 10px;
    height: 400px;
    padding: 10px;

    text-align: center;
    color: #2D2D2A;
}

#button-container {
    top: 420px;
}

#first-person {
    display: none;
}

#mute {
    display:block;
    position: absolute;

    bottom: 20px;
    left: 20px;

    z-index: 10000;

    font-size: 50px;
}

p, li {
    text-align: left;
    font-size: .6em;
}

i {
    text-align: right;
}