body {
    margin: 0;
}
#control-panel {
    display:block;
    position: absolute;

    background-color: rgba(132, 143, 165, 0.36);

    top: 10px;
    right: 10px;
    width: 300px;
    height: 400px;
    padding: 10px;

    z-index: 10000;

    text-align: center;
    color: #2D2D2A;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
}

#mute {
    display:block;
    position: absolute;

    bottom: 20px;
    left: 20px;

    z-index: 10000;

    font-size: 50px;
}

p, li {
    text-align: left;
    font-size: .6em;
}

i {
    text-align: right;
}